@import 'utilities/variables';
@import 'base/typography';

.footer {
  max-width: 1920px;
  width: 100vw;
  height: 807px;
  background-color: $footer-background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  &__container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 75%;
    flex-wrap: wrap;
  }

  &__title {
    font-family: $josefin-sans;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.235em;
    line-height: 21px;
  }
}

.box {
  font-family: $lato;
  width: 20%;
  margin: 0;

  &:nth-child(1) {
    width: 40%;
    text-align: left;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 24px;
    margin-bottom: 0.85em;
  }

  li {
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: 0.02em;
    margin-bottom: 1.25em;
  }
}
