@import 'utilities/variables';
@import 'base/typography';

.footer {
  max-width: 1920px;
  width: 100vw;
  height: 807px;
  background-color: $footer-background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  &__container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 75%;
    flex-wrap: wrap;
  }

  &__title {
    font-family: $josefin-sans;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.235em;
    line-height: 21px;
    margin-bottom: 5px;
  }
}

.box {
  font-family: $lato;
  width: 20%;
  margin: 0;

  &:nth-child(1) {
    width: 30%;
    text-align: left;
  }

  &:nth-child(3) {
    width: 25%;
  }

  &:nth-child(4) {
    width: 15%;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 24px;
    margin-bottom: 1.7em;
  }

  &__contact {
    font-size: 10px;

    p {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 2em;
      line-height: 12px;
      color: #464646;
    }

    img {
      width: 17px;
    }
  }

  li {
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: 0.02em;
    margin-bottom: 1.8em;
  }
}
