@import '../utilities/variables';
@import '../base/typography';

.header {
  width: 1920px;
  height: 45px;
  left: 1px;
  top: 0px;
  font-size: 12px;
}

.nav-list {
  display: flex;
  align-items: center;
  font-family: $lato;
  font-weight: 700;
  font-size: 14px;

  button {
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  &__dropdown {
    margin-left: 5px;
  }
}

.link-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
  font-weight: 700;
  font-family: $lato;
  background-color: $white;

  span {
    margin-right: 10px;
  }

  &__links {
    color: $text-grey;
    font-size: 10px;
    display: flex;
    align-items: center;
  }

  &__language {
    margin-right: 2px;
  }

  &--color {
    color: $red;
  }

  &__icons {
    margin-right: 5px;
  }

  &__socials {
    margin-left: 10px;

    img {
      margin-right: 8px;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 71px;
  left: 0px;
  // top: 45px;
  background: #ffffff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
  }

  &__title {
    font-size: 18px;
    font-family: $josefin-sans;
    letter-spacing: 0.235em;
    line-height: 21px;
    width: 135px;
    height: 18px;
    top: 71px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__search {
    margin-right: 25px;
  }

  &__cart {
    margin-right: 10px;
  }
}

.active {
  color: $red;
}

.divider {
  margin-left: 20px;
  margin-right: 20px;
}
